In [24]:
import mysql.connector

In [25]:
cnx = mysql.connector.connect(user='root', password='', host='localhost', database='LAB1')

In [26]:
cur = cnx.cursor(buffered=True)
cnx.commit()

In [27]:
def print_query(c):
    re=c.fetchall()
    for x in re:
        print(x)

In [28]:
#Given input as salary of three months (jan, feb, march), write a program that returns the total salary for quarter 1 (Q1).
cur.execute(
    '''
CREATE FUNCTION calculate_q1_salary(jan_salary INT, feb_salary INT, mar_salary INT)
RETURNS INT
BEGIN
    DECLARE total_q1_salary INT;
    SET total_q1_salary = jan_salary + feb_salary + mar_salary;
    RETURN total_q1_salary;
END;

'''
           )

In [32]:
cur.execute("""SELECT calculate_q1_salary(1000.00, 1500.00, 2000.00) AS q1_salary;""")
print_query(cur)

(4500,)

In [33]:
cur.close()

True

In [34]:
cnx.close()