In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='root', password='', host='localhost', database='LAB1')

In [3]:
cur = cnx.cursor(buffered=True)

In [5]:
# Create the instructor table if it does not exist
cur.execute("""
CREATE TABLE IF NOT EXISTS instructor10 (
  ID INT PRIMARY KEY,
  name VARCHAR(255),
  dept_name VARCHAR(255),
  salary INT,
  age INT
)
""")

In [8]:
# Add the tuples to the instructor table
tuples = [
  (10101, 'Srinivasan', 'Comp. Sci.', 65000, 34),
  (12121, 'Wu', 'Finance', 90000, 38),
  (15151, 'Mozart', 'Music', 40000, 45),
  (22222, 'Einstein', 'Physics', 95000, 55)
]

In [9]:
query = "INSERT INTO instructor10 (ID, name, dept_name, salary, age) VALUES (%s, %s, %s, %s, %s)"

In [10]:
cur.executemany(query, tuples)

In [11]:
cnx.commit()

In [12]:
print("Tuples added successfully")

Tuples added successfully

In [13]:
cur.close()

True

In [14]:
cnx.close()