In [ ]:
import mysql.connector
import time

In [ ]:
cnx = mysql.connector.connect(user='root', password='', host='localhost', database='LAB1')

In [ ]:
cur = cnx.cursor()

In [6]:
#1 Create a view of instructors without their salary called faculty
cur.execute("""
    CREATE VIEW faculty3 AS
    SELECT ID, name, dept_name
    FROM instructor;
""")
cnx.commit()

In [7]:
#2 Create a view of department salary totals
cur.execute("""
    CREATE VIEW dept_salary_totals AS
    SELECT dept_name, SUM(salary) AS total_salary
    FROM instructor
    GROUP BY dept_name;
""")
cnx.commit()

In [21]:
#3 Create a role of student
cur.execute("CREATE ROLE 'STUDENT'")
cnx.commit()

In [22]:
#4 Grant SELECT privileges on the view faculty to the role student
cur.execute("GRANT SELECT ON faculty3 TO 'STUDENT'")
cnx.commit()

In [24]:
#5 Create a new user and assign her the role of student
cur.execute("CREATE USER 'SHANTI@localhost' IDENTIFIED BY 'shanti'")
cnx.commit()
cur.execute("GRANT 'STUDENT' TO 'SHANTI@localhost'")
cnx.commit()

In [28]:
#6 Revoke privileges of the new user
cur.execute("REVOKE ALL PRIVILEGES ON *.* FROM 'SHANTI@localhost'")
cnx.commit()

In [30]:
#7 Remove the role of student
cur.execute("DROP ROLE 'STUDENT'")
cnx.commit()

In [31]:
#8 Give SELECT privileges on the view faculty to the new user
cur.execute("GRANT SELECT ON faculty3 TO 'SHANTI@localhost'")
cnx.commit()

In [38]:
#9 Create a table teaches2 with the same columns as teaches but with an additional constraint that
# the semester is one of fall, winter, spring, or summer
cur.execute("""
    CREATE TABLE teaches9 AS 
    SELECT ID,Course_id,sec,semester,year
    FROM teaches
    WHERE(semester IN('Fall','Winter','Spring', 'Summer')
    );
""")
cnx.commit()

In [ ]:
#10 Create index ID column of the teaches.Compare the difference in time to obtain query results
#with or without index.
cur.execute("CREATE INDEX index_ID ON teaches(ID);")
cnx.commit()

In [ ]:
start = timeit.timeit()
cur.execute("SELECT * FROM teaches WHERE ID = '12345';")
result=cur.fetchall()
end = timeit.timeit()
print("Time taken is",end - start)

In [ ]:
#11 drop the index to free up the space.
cur.execute("DROP INDEX index_ID ON teaches;")
cnx.commit()