In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='root', password='', host='localhost', database='LAB1')

In [3]:
cur = cnx.cursor(buffered=True)

In [7]:
# Add columns to the instructor table
add_columns_query = "ALTER TABLE instructor10 ADD COLUMN monthly_salary DECIMAL(10,2), ADD COLUMN exemptions DECIMAL(10,2), ADD COLUMN taxes DECIMAL(10,2), ADD COLUMN gross_salary DECIMAL(10,2)"
cur.execute(add_columns_query)

In [8]:
cnx.commit()

In [9]:
# Update the new columns with calculated values
cur.execute("SELECT * FROM instructor10")
results = cur.fetchall()

In [10]:
for result in results:
  salary = result[3]
  exemptions = salary * 0.1
  taxes = salary * 0.2
  monthly_salary = salary / 12
  gross_salary = salary - exemptions - taxes

In [11]:
 update_query = "UPDATE instructor SET monthly_salary=%s, exemptions=%s, taxes=%s, gross_salary=%s WHERE ID=%s"

In [12]:
values = (monthly_salary, exemptions, taxes, gross_salary, result[0])

In [13]:
cur.execute(update_query, values)

In [14]:
cnx.commit()

In [15]:
cur.close()

True

In [16]:
cnx.close()