In [ ]:
import mysql.connector

In [ ]:
cnx = mysql.connector.connect(user='root', password='', host='localhost', database='LAB1')

In [ ]:
cur = cnx.cursor(buffered=True)

In [ ]:
# Create the instructor table if it does not exist
cur.execute("drop table instructor")
cur.execute("""
CREATE TABLE IF NOT EXISTS instructor (
  ID INT PRIMARY KEY,
  name VARCHAR(255),
  dept_name VARCHAR(255),
  salary INT,
  age INT
)
""")

In [ ]:
# Add the tuples to the instructor table
tuples = [
  (10101, 'Srinivasan', 'Comp. Sci.', 65000, 34),
  (12121, 'Wu', 'Finance', 90000, 38),
  (15151, 'Mozart', 'Music', 40000, 45),
  (22222, 'Einstein', 'Physics', 95000, 55)
]

In [ ]:
query = "INSERT INTO instructor (ID, name, dept_name, salary, age) VALUES (%s, %s, %s, %s, %s)"

In [ ]:
cur.executemany(query, tuples)